.manage-links-page {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 25px;
  box-sizing: border-box;
}
.manage-links-page .manage-links-crud.generic-crud-page { padding: 0; }
@media (max-width: 900px) {
  .manage-links-page { padding: 16px; }
}
